* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.forMoreView {
    display: flex;
    align-items: end;

}
button > img {
    height: 25px;
    width: 25px;
}
.searchInput {
    margin-top: 40px;
    border: solid 3px #444;
    border-radius: 10px;
    width: 500px;
    height: 50px;
    font-size: 20px;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    align-self: end;
}
select:hover {
    border-color: #888;
}

select:focus {
    outline: none;
    border-color: #555;
}

.searchButton {
    box-shadow: #000;
    margin: 40px 0 0 10px;
    padding: 2px 10px;
    border: solid 1px #000;
    border-radius: 10px;
}
.searchButton:hover {
    background-color: #ccc;
}
.pokemons {
    padding: 0 16px;
    justify-content: center;
    gap: 16px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.copyPokemon {
    display: flex;
    justify-content: end;
    background-color: #222;
    border-radius: 20px;
    width: calc(100% / 3 - 16px);
    height: 30vh;
}
.pokemonDiv {
    display: flex;
    justify-content: end;
    background-color: #222;
    border-radius: 20px;
    width: calc(100% / 3 - 16px);
    height: 30vh;
}
.title {
    margin-left: 50px;
    font-size: 70px;
    color: #fff;
    font-family: monospace;
}

.name {
    color: #fff;
    text-decoration: underline #222;
    font-size: 50px;
    margin: 0 40px 10px 0;
}

.name::first-letter {
    text-transform: uppercase;
}

.name:hover {
    color: #999;
}

.informations {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

.type {
    margin-bottom: 10px;
    border-radius: 50px;
    font-size: 30px;
    padding: 4px 10px;
}

.fire {
    background-color: #f40;
}
.water {
    background-color: #04f;
}
.bug {
    background-color: #0a0;
}
.flying {
    background-color: #aaa;
}
.rock {
    background-color: #620;
}
.poison {
    background-color: #70f;
}
.ground {
    background-color: #950;
}
.grass {
    background-color: #0f0;
}
.fighting {
    background-color: #f90;
}
.psychic {
    background-color: #f0f;
}
.normal {
    background-color: #856;
}
.fairy {
    background-color: #f08;
}
.electric {
    background-color: #fb0;
}
.ice {
    background-color: #0aa;
}
.steel {
    background-color: #56555c;
}
.ghost {
    background-color: darkslateblue;
}
.dark {
    background-color: #3d1b43;
}
.dragon {
    background-color: #07f;
}

.favorite {
    cursor: pointer;
    position: absolute;
    margin: 200px 30px 0 0;
    width: 50px;
    height: 50px;
    background-color: #fff;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
}

.forMore {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 64px 0;
}

.viewMore {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    border-radius: 12px;
    border: solid 3px #fff;
    padding: 3px 10px;
    background-color: #121212;
}

.viewMore:hover {
    transition: .5s;
    background-color: #fff;
    color: #000;
}

/* Abaixo é o css da segunda página --------------------------------------------------------------------------------------------------------------------*/

.pokemon {
    font-size: 100px;
    color: #fff;
    font-family: monospace;
    align-self: center;
    padding: 5px 40px;
}

.pokemon::first-letter {
    text-transform: uppercase;
}

.forPokemon {
    margin-right: 100px;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.pokemonInformations {
    display: flex;
    color: #fff;
    font-family: monospace;
    align-self: center;
}
.pokemonBody {
    display: flex;
}
.typePokemon {
    margin: 10px 30px 0 0;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 40px;
}
.stats {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 80%;
}
.abilities {
    color: #fff;
    margin-right: 10px;
    font-family: monospace;
}
.infos > h1 {
    padding: 4px 200px;
    background-color: #222;
    border-radius: 40px;
    margin-top: 40px;
    font-family: monospace;
    color: #fff;
    font-size: 50px;
}
.atrr {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

.infos {
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pokemonImg {
    width: 45%;
}

.back {
    cursor: pointer;
    margin: 10px;
    border-radius: 100%;
    border: none;
    position: absolute;
    width: 3%;
    height: 6%;
    background-color: #fff;
}
.arrow {
    width: 1%;
    height: 1%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #000;
    margin: 20px;
}

.back:hover {
    background-color: #999;
}
.titleFavorite {
    display: none;
    margin-left: 50px;
    font-size: 70px;
    color: #fff;
    font-family: monospace;
}
.favorites {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-left: 20px;
}