body {
    font-family: monospace;
    color: #fff;
    background-color: #000;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.options {
    background-color: #111;
    padding: 40px;
    border-radius: 40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

.options > div {
    margin: 0 0;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
}

.options > div > input {
    border-radius: 10px;
    padding: 3px 60px 3px 0px;
}

.options > button {
    align-self: center;
    border: none;
    color: #fff;
    background-color: #222;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 1px #000;
    padding: 2px 20px;
    font-size: 20px;
    cursor: pointer;
}

.options > button:hover {
    text-decoration: 1px underline;
    background-color: #333;
}
.options > button:active {
    box-shadow: 1px 1px 0px 1px #000;
    background-color: #1f1f1f;
}

.result{
    align-self: flex-start;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    border-bottom: solid 2px #fff;
    display: flex;
    align-self: center;
}